<div class = "form-template-outer">
  <div class = "form-template-cell">
    <div class = "form-template-inner">
      <div class = "insideFormTemplate">
		<h3><span class = "form-title">Resend confirmation instructions</span></h3>

		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
		    <p><%= f.email_field :email, placeholder: "Email", class: "form-field", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %></p>
		  </div>

		  <div class="actions">
		    <%= f.submit "Resend confirmation instructions", class: "loginButton" %>
		  </div>
		<% end %>

      <div class = "actions">
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        <% end -%>
      </div>
	  </div>
	</div>
  </div>
</div>
