<div class = "form-template-outer">
  <div class = "form-template-cell">
    <div class = "form-template-inner">
      <div class = "insideFormTemplate">
          <h2><span class = "form-title">Change Password</span></h2>
				<%= render 'password_form', user: @user %>

		<div class = "actions"><div><%= link_to 'Edit Username', change_username_path(@user) %> |
			<%= link_to 'Edit Email', change_email_path(@user) %> |
			<%= link_to 'Edit Screenname', edit_user_path(@user) %> |
			<%= link_to 'Show', @user %> |
			<%= link_to 'Back', users_path %></div></div>
		</div>
    </div>
  </div>
</div>