<div class = "form-template-outer">
  <div class = "form-template-cell">
    <div class = "form-template-inner">
      <div class = "insideFormTemplate">
        <h2>Welcome back.</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.text_field :login, placeholder: "Email or Username..." %></p>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password..." %>
          </div>

          <div class="actions">
            <%= f.submit "Log in", class: "loginButton" %>
            <% if devise_mapping.rememberable? -%>
              <div id = "remember">
                <%= f.check_box :remember_me %> <%= f.label :remember_me %>
              </div>
            <% end -%>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

