<%= form_for @post, :url => {:action => "create"} do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
		<%= form.label :image %>
  		<%= form.file_field :image %>  
  	</div>

  <div class="actions">
    <%= form.submit "Change Email", class: "loginButton" %>
  </div>
<% end %>

