<% if @post.image.attached? %>
		<div class = "post-container">
			<ul class = "post-header">
				<li><p id = "post-avatar" class = "post-header-list"></p></li>
				<li><p class = "post-header-list">&#8226;</p></li>
				<li><p class = "post-header-list"><%=@post.user.username%></p></li>
				<li id = "right-side-header"><p class = "post-header-list"><%=time_ago_in_words(@post.created_at)%> ago</p></li>
				<!-- <li> -->
					<!-- <div class="dropdown">
  						<button onclick="myFunction()" class="dropbtn">
  							<i class="fas fa-ellipsis-v"></i>
  						</button>
					    <div id="post-dropdown" class="dropdown-content">
					        <a href="#">Link 1</a>
					    	<a href="#">Link 2</a>
					    	<a href="#">Link 3</a>
					  	</div>
					</div> -->
					<div class="dropdown">
					    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
					    <div id="myDropdown" class="dropdown-content">
						    <a href="#">Link 1</a>
						    <a href="#">Link 2</a>
						    <a href="#">Link 3</a>
					    </div>
					</div>
				<!-- </li> -->
			</ul>
			<div class = "post-title"><%= @post.title %></div>
			<% if @type.chr == 'i' %>
				<% if @width > 1080 && @ratio >= 0.8 && @ratio <= 1.91%>
			    	<%#good ratio no need to crop%>
			    	<%= image_tag @post.image.variant(resize: "1080"), class: "image-resize"%>
			    <% elsif @width > 1080 && @ratio < 0.8 %>
			    	<%#crop vertically%>
			    	<% @shaveSize = 1080/0.8 %>
			    	<% @shaveHeight = 1080/@ratio %>
			    	<%= image_tag @post.image.variant(resize: "1080", shave: "x#{(@shaveHeight - @shaveSize)/2}"), class: "image-resize" %>
			    <% elsif @width > 1080 && @ratio > 1.91%>
			    	<%#No longer cropping horizontally%>
			    	<%# @shaveSize = 1.91 * 566 %>
			    	<%# @shaveWidth = @ratio * 566 %>
			    	<%= image_tag @post.image.variant(resize: "1080"), class: "image-resize" %>
			    <% elsif @width < 320 && @ratio >= 0.8 && @ratio <= 1.91 %>
			    	<%= image_tag @post.image.variant(resize: "320"), class: "image-resize"%>
			    <% elsif @width < 320 && @ratio < 0.8 %>
			    	<%#crop vertically%>
			    	<% @shaveSize = 320/0.8 %>
			    	<% @shaveHeight = 320/@ratio %>
			    	<%= image_tag @post.image.variant(resize: "320", shave: "x#{(@shaveHeight - @shaveSize)/2}"), class: "image-resize" %>
			    <% elsif @width < 320 && @ratio > 1.91 %>
					<%# No longer cropping horizontally%>	    	
					<%# @shaveSize = 1.91 * 168 %>
			    	<%# @shaveWidth = @ratio * 168 %>
			    	<%= image_tag @post.image.variant(resize: "1080"), class: "image-resize" %>
			    <% elsif @width >= 320 && @width <= 1080 && @ratio < 0.8 %>
			    	<% @shaveSize = @width/0.8 %>
			    	<% @shaveHeight = @width/@ratio %>
			    	<%= image_tag @post.image.variant(shave: "x#{(@shaveHeight - @shaveSize)/2}"), class: "image-resize" %>
			    <% elsif @width >= 320 && @width <= 1080 && @ratio > 1.91 %>
			    	<%# No longer cropping horizontally%>
			    	<%# @shaveSize = 1.91 * @height %>
			    	<%# @shaveWidth = @ratio * @height %>
			    	<%= image_tag @post.image, class: "image-resize" %>
			    <% else %>
			    	<%= image_tag @post.image, class: "image-resize" %>
				<% end %>
			<% else %>
				<% if @width > 614 %>
					<%= video_tag(url_for(@post.image), class: "too-wide", :controls => "true") %>
				<% else %>
					<%= video_tag(url_for(@post.image), class: "too-narrow", :controls => "true") %>
				<% end %>
			<% end %>
			<ul id = "post-footer">
				<li>
					<i class="fas fa-arrow-up arrow post-footer-list"></i>
					<i class="fas fa-arrow-down arrow post-footer-list"></i>
					<p id = "comment-count">N Points</p>
				</li>
				<li id = "footer-middle">
					<p>N Comments</p>
				</li>
				<li>
					<button type="button" id = "share-button" class="btn btn-outline">Share</button>
				</li>
			</ul>
		</div>
<% end %>