<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group center">
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :post_id, value: 1 %>
  </div> 

  <div class="field">
    <span class = "Test"><%= form.radio_button :report_message, "This user has posted inappropriate content."%> This user has posted inappropriate content.</span>
  </br>
  </br>
    <%= form.radio_button :report_message, "This user has abused another in some fashion."%> This user has abused another in some fashion.
  </br>
  </br>
    <%= form.radio_button :report_message, "This user's profile information/picture is abusive or hateful."%> This user's profile information/picture is abusive or hateful.
  </br>
  </br>
    <%= form.radio_button :report_message, "This user appears to have lost control of their account."%> This user appears to have lost control of their account.
  </br>
  </br>
    <%= form.radio_button :report_message, "This user is pretending to be someone else."%> This user is pretending to be someone else.
  </br>
  </div>

  <div class="form-group center">
    <%= form.hidden_field :reported_id, value: params[:format] %>
  </div> 

  <div class="form-group center">
    <%= form.hidden_field :reported_type, value: "User" %>
  </div> 

  <div class="actions">
    <%= form.submit "Report", class: "loginButton" %>
  </div>
<% end %>
